// ============================================
// Project - Company
// ============================================

.p-company {
  margin-bottom: 120px;

  @include mq-down(pc) {
    margin-bottom: 60px;
  }

  &__flex {
    display: flex;
    align-items: center;

    @include mq-down(pc) {
      flex-direction: column;
    }
  }

  &__img {
    width: 70%;

    @include mq-down(pc) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 500px;
      object-fit: cover;

      @include mq-down(pc) {
        height: 300px;
      }
    }
  }

  &__text {
    width: 35%;
    background-color: $color-white;
    padding: 6% 0 6% 6%;
    margin-left: -8%;

    @include mq-down(pc) {
      width: 100%;
      padding: 25px 20px 0;
      margin-left: 0;
    }
  }

  &__lead {
    font-family: $font-serif;
    font-size: 24px;
    margin-bottom: 40px;

    @include mq-down(pc) {
      font-size: 22px;
      margin-bottom: 20px;
    }
  }

  &__description {
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 40px;

    @include mq-down(pc) {
      margin-bottom: 20px;
    }
  }
}
